*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(237, 238, 241, 0.7), rgba(4,9,30,0.7)),url(../images/back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.material-icons.md-48{ 
    color: rgb(0, 0, 0);
    font-size: 48px; 
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
     
}
.homeicon{
    font-size: 48px;
    color: black;

}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;

}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
    
}
.red-btn:hover{
    color: #fff;
}

/* Footer*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}
.icons .fab{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/* Trajetória pessoal*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(237, 238, 241, 0.7), rgba(4,9,30,0.7)),url(../images/backtrajpessoal.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 90px;
    font-size: 50px;
}
.personal-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.personal{
    flex-basis: 65%;
}
.personal img{
    width: 50%;
}
.personal h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.personal p{
    color: rgb(66, 64, 64);
    padding: 0;    
}

/* Trajetória profissional*/

.subtitle{
    font-weight: normal;
}

.centerblock{
    text-align: center;
}
.professional-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.professional{
    flex-basis: 65%;     
}
.professional img{
    width: 30%;
}
.professional h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.professional p{
    color: rgb(66, 64, 64);
    padding: 0;    
}

/* --- Contato ----*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;    
}
.contact{
    width: 80%;
    margin: auto;

}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fas{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}




