{% extends "base.html" %} 

{% block title %}    
    <h1>
        Trajetória Pessoal
    </h1>
{% endblock %}  
        
<!-- Conteúdo da página "Trajetória Pessoal"-->

{% block content%}
<section class="pessoal-conteudo">
        <div class="pessoal">
            <div class="centerblock">
                <img src="../static/images/traj1.png">
            </div>
            
            <h2>Trajetória Pessoal</h2>
            <p> Nasci no dia 14 de fevereiro de 1997 na cidade de Blumenau, Santa Catarina. Com quatro anos passei a morar em Joinville
                onde passei grande parte da minha vida. Ao chegar na cidade logo fui matriculado em uma creche chamada SESI, onde aprendi a ler e escrever.
                Com 7 anos fui matriculado no colégio Adventista, no qual estudei até meus 9 anos de idade. Em seguida, passei a estudar no colégio
                dos Santos Anjos, onde pude conhecer pessoas que carrego junto comigo até hoje. Aos 17 anos, ainda estudando no Santos Anjos, decidi 
                fazer um semi-extensivo no colégio Posiville, visto que era de minha vontade tentar o vestibular em uma universidade federal. 
            <br>
                Após um ano de estudo rígido realizei o vestibular da Universidade Federal de Santa Catarina (Campus Blumenau) e fui aprovado. Aos 18 anos 
                me mudei para Blumenau a fim de começar os estudos na universidade. Ao longo destes anos de graduação pude conhecer colegas e professores 
                nos quais foram, e estão sendo, muito importantes para minha trajetória pessoal.
            </p>
            <br>
            <p>
                Fora do ambiente acadêmico possuo diversos hobbies. Minha maior paixão é a música, estou diariamente ligado com algum instrumento,
                seja ele violão, guitarra, piano, cavaco, entre outros. O estudo da música sempre esteve presente e continua até hoje na minha vida. Esportes sempre estiveram presentes na minha vida, principalmente o voleibol. Comecei a 
                praticá-lo na escola na qual minha equipe pode participar e vencer campeonatos dentro e fora da cidade. Passei a frequentar o centro de treinamento 
                de Joinville, porém após alguns meses, pelo fato dos treinos demandarem um grande número de horas na semana, decidi parar de frequentar o centro pois
                poderiam atrapalhar meu rendimento na escola. Não menos importante, estudar línguas estrangeiras sempre foi algo que me facinou. Por ser uma pessoa
                curiosa, desde criança passei a ter contato com o inglês, seja em jogos, filmes, séries e etc. Este contato logo cedo me possibilitou aprender inglês de
                forma independente e conseguir entender e me comunicar tranquilamente. Aos meus 20 anos, a vontade de aprender outra língua surgiu novamente, e, 
                sabendo da demanda desta língua no campo da engenharia, passei a estudar a língua alemã. Estudo a língua até os dias de hoje na qual possuo certificado de 
                conclusão de nível intermediário pelo Goethe-Institut.
        </div>
        
    </div>

</section>
{% endblock %}

