{% extends "base.html" %} 

{% block title %}    
    <h1>
        Trajetória Profissional
    </h1>
    <h3 class="subtitle">
        Minha carreira acadêmica
    </h3>
{% endblock %}  
        
<!-- Conteúdo da página "Trajetória Profissional"-->

{% block content%}

    <section class="professional-content">    
            <div class="professional">
                <div class="centerblock">
                    <img src="../static/images/traj2.png">
                </div>

                <h2>Trajetória Acadêmica</h2>
                <p> Desde cedo minha relação com a matemática foi sempre muito boa. Na escola sempre tirava boas notas sem muito esforço e, por isso, não tinha dúvidas
                    que faria um curso superior ligado às exatas. O curso de Engenharia de Controle e Automação me encantou na minha adolescência pelo fato do curso 
                    contemplar diversas áreas da tecnologia, seja programação, robótica, acionamentos elétricos, hidraulicos entre outras. 
                <br>
                    Entrei na UFSC em Blumenau em agosto de 2015 e não demorou muito para perceber o quanto de conhecimento aquele lugar iria me proporcionar. Logo nos primeiros
                    semestres, por possuir uma boa relação com professores, participei de uma feira de física, na qual pude elaborar junto a um colega, um protótipo de uma lombada
                    que, ao receber o peso de um carro em seu topo, gerava uma certa quantidade de energia. Energia essa que poderia ser utilizada para diversos meios. Alguns 
                    semestres depois na matéria de "Acionamentos hidráulicos e pneumáticos" pude, com mais dois colegas, escrever um artigo com título "Análise da pressão e
                    coeficientes de atrito de sapatas em freios a tambor" o qual recebeu o prêmio de melhor trabalho de graduação no 4° Congresso de Engenharia e Ciências Aplicadas 
                    nas Três Fronteiras (MEC3F 2019). O artigo pode conferido abaixo.
                    <br>
                    
                </p>
                <br>
                <div class="centerblock">
                    <a href="https://en.theacademicsociety.net/tasjonline-v3-pg-236-245" class="hero-btn red-btn">Confira aqui o artigo!</a>
                </div>
                
                <p><br>
                    Na matéria de Projeto Integrador pude junto a dois colegas escrever um artigo chamado "Controle de nível e temperatura de um aquário simulado", o qual 
                    foi realizado utilizando o software MATLAB/Simulink. Neste artigo está presente a modelagemm, cálculos e malhas de controle utilizados na simulação. Com 
                    este trabalho foi possível estudar e desenvolver diversas técnicas de controle utilizadas no processo. <br>Atualmente estou realizando um projeto de detecção de 
                    placas e cores de automóveis. Este projeto está sendo realizado na linguagem Python e conta com a presença de diversas ferramentas processamento de imagens 
                    e visão computacional. Além disso o projeto faz uso de uma rede neural de convolução voltada para a detecção de objetos chamada YOLOv3.

            </div>
           
        

    </section>
    {% endblock %}
    <!-- --- Footer ----->

    <section class="Footer">
        <p>
            Me siga nas redes sociais!
        </p>
        <div class="icons">
            <a href="https://twitter.com/PedroKohler3"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/pedrohkohler/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/pedro-henrique-kohler/"><i class="fab fa-linkedin-in"></i></a>
        </div>

    </section>
        
    </body>
</html>

